.header {
  display : flex;
  height : 4rem;
  padding: 0.8em 1em;
  background-color: black;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
  cursor: pointer;
}

.title {
  margin-left: 10px;
}

.input {
  flex-basis: 100%;
  font-size: 1.1rem;
  outline: 0;
}

.button {
  background-color: grey;
  cursor: pointer;
}

.button:hover {
  background-color: darkgray;
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}
