.container {

  width: 50%;
  border : 1px solid lightgrey;
  margin-bottom: 6px;
  cursor: pointer;
  transition: transform 100ms ease-in;
}

.video {
  display : flex;
  align-items: center;
}

.container:hover {
  transform: scale(1.02);
}

.title,
.channel {
  margin: 0;
}

.channel {
  font-size: 14px;
}